header {
  display: flex;
  justify-content: center;
  padding: 15px;
  align-items: center;
}
header a {
  position: absolute;
  left: 20px;
}
header img {
  height: 40px;
}

body {
  font-family: Roboto, arial, sans-serif;
}

.menu-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 15px;
  padding: 15px 5px 0px 5px;
  font-size: x-large;
  font-family: shrikhand;
}

.hearts {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 15px;
}
.hearts i.fa-solid {
  display: none;
}
.hearts:hover {
  cursor: pointer;
}
.hearts:hover i.fa-regular {
  display: none;
}
.hearts:hover i.fa-solid {
  display: block;
  color: transparent;
  background: radial-gradient(circle at top right, #9356dc, #ff79da 50%);
  -webkit-background-clip: text;
          background-clip: text;
}

footer {
  background-color: #4e4d4d;
}

.footer-content img {
  width: 100px;
  color: white;
}

.footer-content {
  padding: 15px 10px;
}

.footer-menu {
  color: white;
}

.footer-menu a {
  text-decoration: none;
  color: white;
}

.footer-menu .logo {
  font-family: shrikhand;
  font-weight: 200;
}

header a {
  position: inherit;
}

.location {
  display: flex;
  background-color: #f2f2f2;
  justify-content: center;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.25);
}

.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(242, 242, 242, 0.3215686275);
  padding: 40px;
}
.about p {
  font-size: x-large;
}
.about button {
  border-radius: 30px;
  border-color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  padding: 13px 17px;
  color: white;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);
  margin: 10px;
}
.about button:hover {
  cursor: pointer;
}

.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how-it-works p {
  font-size: x-large;
}
.how-it-works .buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.how-it-works .buttons button {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 20px;
  border-color: transparent;
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.05);
  align-content: space-between;
  padding: 25px;
  justify-content: center;
  margin: 20px 30px;
  font-size: larger;
}
.how-it-works .buttons button i {
  color: #a1a0a0;
}
.how-it-works .buttons button .fa-circle {
  color: #9356DC;
}
.how-it-works .buttons button .fa-1, .how-it-works .buttons button .fa-2, .how-it-works .buttons button .fa-3 {
  color: white;
}
.how-it-works .buttons button:hover {
  background-color: rgba(146, 86, 220, 0.1568627451);
  cursor: pointer;
}
.how-it-works .buttons button:hover i {
  color: #9356dc;
}

.restaurants {
  padding: 20px 0px;
}

.restaurant-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.restaurant-cards {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-color: #f1f1f1;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
}
.restaurant-cards a {
  text-decoration: none;
  color: black;
}
.restaurant-cards a .image-container {
  width: 100%;
  overflow: hidden;
}
.restaurant-cards a .image-container img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.newcontainer {
  background-color: #99E2D0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 25px;
  display: flex;
  justify-items: center;
  position: absolute;
  z-index: 2;
  margin-top: -380px;
  margin-left: 850px;
}
.newcontainer .new {
  color: #57b19a;
  display: flex;
  justify-items: center;
}

.restaurant-info {
  display: block;
  padding: 10px 10px;
  position: relative;
}
.restaurant-info strong,
.restaurant-info p {
  display: block;
}

.hearts {
  position: absolute;
  top: 10px;
  right: 15px;
}
.hearts i.fa-solid {
  display: none;
}
.hearts:hover {
  cursor: pointer;
}
.hearts:hover i.fa-regular {
  display: none;
}
.hearts:hover i.fa-solid {
  display: block;
  color: transparent;
  background: radial-gradient(circle at top right, #9356dc, #ff79da 50%);
  -webkit-background-clip: text;
          background-clip: text;
}

@media screen and (min-width: 992px) {
  header a {
    position: inherit;
  }
  .how-it-works {
    justify-content: space-around;
  }
  .how-it-works .buttons {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    width: 100%;
  }
  .restaurant-cards {
    display: flex;
    width: 50%;
  }
  .restaurant-cards .newcontainer {
    position: absolute;
    margin-left: 380px;
  }
}/*# sourceMappingURL=style.css.map */