@import "global.scss";


.location {
    display: flex;
    background-color: #f2f2f2;
    justify-content: center;
    box-shadow: 0px -1px 0px 0px rgb(0 0 0 / 25%);
}

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f252;
    padding: 40px;

    p {
        font-size: x-large;
    }

    button {
        border-radius: 30px;
        border-color: transparent;
        background-image: linear-gradient(#ff79da, #9356dc);
        padding: 13px 17px;
        color: white;
        box-shadow: 3px 3px 0px 0px rgb(0 0 0 / 10%);
        margin: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}

.how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-size: x-large;
    }

    button {
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        border-radius: 20px;
        border-color: transparent;
        box-shadow: 5px 5px 15px 1px rgb(0 0 0 / 5%);
        align-content: space-between;
        width: 100%;
        padding: 25px;
        justify-content: center;
        margin: 20px 30px;
        font-size: larger;

        i {
            color: #a1a0a0;
        }

        &:hover {
            background-color: #9256dc28;
            cursor: pointer;

            i {
                color: #9356dc;
            }
        }
    }
}

.restaurants {
    padding: 20px 0px;
}

.restaurant-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.restaurant-cards {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: #f1f1f1;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;

    a {
        text-decoration: none;
        color: black;

        .image-container {
            width: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 400px;
                object-fit: cover;
            }
        }
    }
}

.newcontainer {
    background-color: #99E2D0;
    width: fit-content;
    padding: 10px 25px;
    display: flex;
    justify-items: center;
    position: absolute;
    z-index: 2;
    margin-top: -380px;
    margin-left: 850px;

    .new {
        color: #57b19a;
        display: flex;
        justify-items: center;
    }
}

.restaurant-info {
    display: block;
    padding: 10px 10px;
    position: relative;

    strong,
    p {
        display: block;
    }
}

.hearts {
    position: absolute;
    top: 10px;
    right: 15px;

    i.fa-solid {
        display: none;
    }

    &:hover {
        cursor: pointer;

        i.fa-regular {
            display: none;
        }

        i.fa-solid {
            display: block;
            color: transparent;
            background:
                radial-gradient(circle at top right,
                    #9356dc,
                    #ff79da 50%);
            background-clip: text;
        }
    }
}